.textarea {
	border-radius: 5px;
	background: var(--white);
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
	padding: 7px 15px;
	color: var(--black);
	border: none;
	outline-color: var(--primary);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	font-family: var(--font-family);
}

.textarea::placeholder {
	color: #A4A4A4;
}
